<h2><%= @message.title %></h2>
<p>Posted by <%= @message.user.email %> - <%= time_ago_in_words(@message.created_at) %> ago.</p>
<p><%= @message.description %></p>


<h3 class="ui dividing header">Comments:</h3>
<div class="ui comments">
  <%= render @message.comments %>
</div>

<h3 class="ui dividing header">Discussion:</h3>
<%= render 'comments/form' %>

<div class="divided grid"></div>

<div class="ui buttons">
<%= link_to "Back", root_path, class: "ui button" %>
<% if user_signed_in? %>
  <% if @message.user_id = current_user.id %>
    <%= link_to "Edit", edit_message_path(@message), class: "ui button" %>
    <%= link_to "Delete", message_path(@message), method: :delete, class: "ui button" %>
    <!-- Link to modal -->
  <% end %>
<% end %>
</div>
