<!DOCTYPE html>
<html>
  <head>
    <title>MessageBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="ui menu">
          <%= link_to "Message Board", root_path, class: "item" %>
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "item" %></li>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "item" %>
            <%= link_to "Log In", new_user_session_path, class: "item" %>
          <% end %>
        <% if user_signed_in? %>
          <%= link_to "New Message", new_message_path, class: "item" %>
        <% end %>
    </div>

    <%= yield %>

    <footer>
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </footer>
  </body>
</html>
